<!DOCTYPE html>
<html>
  <head>
    <title>Livraria</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"> 
  </head>

  <body>
    <div class="container">
      <% if notice %>
        <script>
          toastr["success"]("<%= notice %>");
        </script>
      <% end %>

      <% if alert %>
        <script>
          toastr["warning"]("<%= alert %>");
        </script>
      <% end %>

      <%= yield %>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  </body>
</html>
